.pswdbody{
    padding-top: 2%;
    text-align: center;
    width: 45%;
    margin-left: 28%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-image: url(./background.jpeg);
    background-repeat: no-repeat;
    background-size: 130%;
}
.npswd{
    width: 90%;
    text-align: left;
    padding-top: 8%; 
    margin-left: 20%;
    display: flex;
}
.npswd2{
    margin-left: 10%;
}
.cpswd{
    width: 90%;
    text-align: left;
    padding-top: 5%; 
    margin-left: 20%;
    display: flex;
}
.cpswd2{
    margin-left: 5%;
}
.resetpswd{
    background-color: rgb(1, 139, 139);
    border: rgb(1, 139, 139);
    color: white;
    width: 30%;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 12%;
    margin-bottom: 17%;
}
.resetpswd:hover{
    background-color: darkorange;
}