.body{

    text-align: center;
    width: 50%;
    margin-left: 25%;
    border-width: 2%;
    border-style: groove;
    border-color: black;
}
.logname{
   padding-top: 3%; 
   display: flex;
}
.email1{
    margin-left: 20%;
}
.email2{
    margin-left: 20%;
}
.logpswd{
    padding-bottom: 8%;
    padding-top: 3%;
    display: flex;
}
.pswd1{
    margin-left: 20%;
}
.pswd2{
    margin-left: 16%;
}
.submit{
    padding-bottom: 10%;
}